/*header*/
header .menu-li:nth-child(1) {
  background-color: #06052a;
  border-radius: 30px;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #ffffff;
}
/*page-title*/
.page-title {
  padding: 140px 0 60px 0;
  text-align: center;
}
.page-title .category-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.page-title .category-list li {
  border: 1px solid #999999;
  padding: 10px 20px;
  width: table;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
}
.page-title .category-item.active {
  background-color: #111111;
  border: 1px solid #111111;
  color: #ffffff;
}
.page-title h2 {
  font-weight: 400;
  margin-bottom: 30px;
}

/*공통 css*/

section {
  overflow-x: hidden;
}
.section-title {
  text-align: left;
  padding-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #333333;
  margin-bottom: 40px;
  width: 90%;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Unna", serif;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
p {
  line-height: 24px;
  color: #666666;
}
span {
  font-size: 20px;
}
.img-box {
  margin-bottom: 15px;
  transition: 0.5s;
  cursor: pointer;
}
.section-title::after {
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 18px;
  z-index: -1;
  opacity: 0.1;
  background-color: #2c68b3;
}

.container {
  width: 90%;
}
/*section1*/

.section1 {
  padding-bottom: 120px;
}

.section1 .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  row-gap: 60px;
}

.section1 .section-title::after {
  width: 308px;
}

/*section2*/
.section2 {
  padding-bottom: 120px;
}
.section2 .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  row-gap: 60px;
}
.section2 .section-title::after {
  width: 234px;
}

/*section3*/
.section3 {
  padding-bottom: 120px;
}
.section3 .container .cont1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}
.section3 .section-title::after {
  width: 192px;
}

/*section4*/
.section4 {
  padding-bottom: 120px;
}
.section4 .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.section4 .section-title::after {
  width: 150px;
}

.section4 .pop {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: none;
}

.section4 .pop .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.section4 .pop .cont-group {
  position: absolute;
  width: 800px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section4 .pop .cont {
  background-color: #ffffff;
  padding: 60px;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  display: none;
}

.section4 .item .img-box:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.5s;
  border-radius: 15px;
}
.section4 .item:hover .img-box::after {
  opacity: 1;
}

.section4 .x-btn {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 24px;
  height: 24px;
}
